body{
    background-color: #B2B2B2;
  }
  .templateContainer{
    margin: 5% 0;
  }
  .templateContainer > .searchInput_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .templateContainer > .searchInput_Container input{
    width: 50%;
    padding: 10px;
    outline: none;
  }
  .templateContainer .template_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .templateContainer .template_Container .template{
    background-color: rgb(95, 186, 60);
    margin: 30px;
    padding: 0px 20px;
  }
  .templateContainer .template_Container .template img{
    height: 250px;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }