@import url(../App.css);

input, button {
    appearance: none;
    background: none;
    border: none;
    outline: none;
  }
  
  .App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color:  rgb(39, 39, 30); */
  }

  form {
    display: block;
    position: relative;
  }
  
  form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
    
  }
  
  form .form-inner {
    position: relative;
    display: block;
    /* background-color:  rgb(39, 39, 30); */
    padding: 30px;
    z-index: 2;
    color: white;
    margin-top: 10px;
  }
  
  form .form-inner h2 {
    color: white;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  
  form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
  }
  
  .form-inner .form-group label {
    display: block;
    color: white;
    font-size: 12px;
    margin-bottom: 5px;
    transition: 0.4s; 
  }
  
  
  form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color:  rgb(164, 179, 164);
    border-radius: 8px;
    transition: 0.4s;
  }
  
  form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
  
  form .form-inner input[type="submit"],
  .welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 15px;
    background-color:  rgb(46, 85, 21);
    /* justify-content: center; */
    text-align: center;
    text-decoration-color: #fff;
    margin-left: 30px;
  }
  
  h3 {
    color: white;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 70px;
  }
  
  .welcome {
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 15px 30px;
  }
  
  .welcome h2 {
    color: #888;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-left: 80px;
  }
  
  .welcome h2 span {
    color: red;
  
  }
  
  @media screen and (max-width: 900px) {
    
  }